<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
		"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
<bean id="con" class="com.spring.test.ConnectionSource">
</bean>
<bean id="stud" class="com.spring.test.Student"></bean>
<bean id="persist" class="com.spring.test.PerformPersistence">
<constructor-arg ref="con"></constructor-arg>
</bean>
</beans>		
 