<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day20_jee</display-name>
  <welcome-file-list>
    <welcome-file>Addition.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.testadd.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.testadd.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySessionServlet</display-name>
    <servlet-name>DisplaySessionServlet</servlet-name>
    <servlet-class>com.testadd.DisplaySessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySessionServlet</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
  <session-config>
  <session-timeout>2</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>MathTableServelet</display-name>
    <servlet-name>MathTableServelet</servlet-name>
    <servlet-class>com.testadd.MathTableServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MathTableServelet</servlet-name>
    <url-pattern>/MathTableServelet</url-pattern>
  </servlet-mapping>
</web-app>